@font-face {
    font-family: RobotoSlabLight;
    src: url(RobotoSlab-Light.ttf);
}

body{
    color: #00122f !important;
}

.custom-container{
    height: 600px !important;
}
#alright-btn, #btn-agree, #btn-twitter{
    color: white !important;
    background: #18a597 !important;
}

.left-label{
    font-size: 20px !important;
}

#container-1{
    padding-top: 2% !important;
    padding-bottom: 2% !important;
}

#alright-btn:hover, #btn-agree:hover, #btn-twitter:hover{
    background: #15897d !important;
}

a, button, footer, li{
   font-family: RobotoSlabLight !important;
}

#cardmonth, .field{
    height: inherit !important;
}

ul{
    font-size: 15px !important;
    line-height: 30px !important;
}
p{
    font-size: 18px !important;
    font-family: RobotoSlabLight !important;
    line-height: 30px !important;
}
.inverted.segment{
    border-radius: 0;
    margin:0;
}
.page-title{
    font-size: 30px;
    line-height: 35px;
    font-weight: bolder;
}

#home-menu{
    border: none !important;
}


.menu a{
    font-size: 14px !important;
    color: white !important;
}

/*.menu .item:hover{
    color: #0a439d !important;
    background-color: white !important;

}*/


.padded-segment{
    padding-right: 5% !important;
    padding-left: 5% !important;
}
#navbar{
    box-shadow: none !important;
    border: none !important;
    border-radius: 0px !important;
    padding-left: 100px !important;
    padding-right: 100px !important;
    width: 100% !important;
    background: #0e5957;
}

.green-background{
    background: #18a597 !important;
}
.remove-margins{
    margin: 0px !important;
}
#thumbnail{
    width: 80% !important;
    height: 300px !important;
}

.remove-padding{
    padding: 0px !important;
}
.subheading{
    font-size: 25px;
    font-weight: bold;
    text-align: center !important;
}

footer{
    background-color: #0e5957 !important;
}

.header-label{
    font-size: 30px !important;
    font-weight: bolder;
}
.heading-content{
    font-size: 16px;
}

.white-text{
    color: white !important;
}

.white-background{
    background: white !important;
}
.yellow-background{
    background: #edbe00 !important;
}
.blue-background{
    background: #0a439d !important;
}

.blue-text{
    color: #0a439d !important;
}
.dark-blue{
    background: #00122f !important;
}

.no-line-height{
    line-height: 0px !important;
}

#contact-info{
    text-align: center !important;
}
/*#about-us{
    width: 100%;
    padding-top: 10% !important;
    padding-bottom: 10% !important;
}*/

a.email-label{
    color: #18a597 !important;
}

@media (min-height: 320px) {
  .ui.footer.form-page { /* Increased specificity for SO snippet priority */
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}