{% extends "base.html" %}

{% block content %}
    <script>
        $( document ).ready(function() {
            $('#btn-agree').prop("disabled", true);
        });
        $(function(){
            $("#cbx-agree").click(function(){
                if($(this).prop("checked"))
                    $('#btn-agree').prop("disabled", false);
                else
                    $('#btn-agree').prop("disabled", true);
            });
        });

        function goToDataCollection(){
            window.location.href ="data-collection";
        }

    </script>
    <div class="ui container">
        <div class="ui basic very padded segment">
            <h2>Here's a few requirements before proceeding</h2>
            <h3>I am a participant who...</h3>
            <ul>
                <li>is at least <b>18</b> years old or above</li>
                <li>is residing in the Philippines</li>
                <li>lived in the Philippines for at least <b>8</b> years</li>
                <li>is a Facebook user using a personal account OR</li>
                <li>is a Twitter user using a personal account</li>
            </ul>

            <h3>As a participant, I...</h3>
            <ul>
                <li>agree to grant the researcher's app an access to my Facebook or Twitter data</li>
                <li>agree to provide the following information:
                    <ul>
                        <li>Gender</li>
                        <li>Birthdate</li>
                        <li>Facebook ID</li>
                        <li>Twitter handle</li>
                    </ul>
                </li>
                <li>ensure that the information I will be entering is correct</li>
            </ul>
            <h2>Also, please be reminded that</h2>
            <ul>
                <li>any information collected would be anonymized</li>
                <li>after the duration of the study (until April 2017), any information collected would be disposed</li>
                <li>if you have any concerns or questions about the study, feel free to <a href="/#about-us" class="email-label"><b> contact us <b> </a></li>
            </ul>

             <div class="field">
                <div class="ui checkbox">
                  <input id="cbx-agree" tabindex="0" type="checkbox">
                  <label>I understand and agree to the Terms and Conditions stated above.</label>
                </div>
            </div> <br>
            <button id="btn-agree" class="ui green button" onclick="goToDataCollection()">Let's go!</button>


           {% comment %} <span>
                Thank you for considering to participate in this study.
                As our token of gratitude, we would display <br> your top 10 most used words later on!
            </span>{% endcomment %}

        </div>


    </div>
    <footer class="ui inverted vertical footer center aligned segment">
        <div class="ui container">Age and Gender Profiling 2017. All Rights Reserved</div>
    </footer>
{% endblock content %}