{% extends "base.html" %}

{% block content %}
    <script>
        $( document ).ready(function() {
            $('#btn-agree').prop("disabled", true);
        });
        $(function(){
            $("#cbx-agree").click(function(){
                if($(this).prop("checked"))
                    $('#btn-agree').prop("disabled", false);
                else
                    $('#btn-agree').prop("disabled", true);
            });
        });

        function goToDataCollection(){
            window.location.href ="data-collection";
        }

    </script>
    <div class="ui container">
        <br><br> <br>
        <div class="ui basic segment padded-segment">
            <div class="ui dividing header "><h1>Informed Consent</h1></div>


            <div class="ui grid">

                <div class="five wide column middle aligned">
                    <h5><b>Requirements</b></h5>
                    <span class="left-label">I am a participant who...</span>

                </div>
                <div class="eleven wide column">
                    <ul>
                        <li>is at least <b>18</b> years old or above</li>
                        <li>is residing in the Philippines</li>
                        <li>lived in the Philippines for at least <b>8</b> years</li>
                       {% comment %} <li>is a Facebook user using a personal account OR</li>{% endcomment %}
                        <li>is a Twitter user using a personal account</li>
                    </ul>

                </div>
            </div>
             <div class="ui container">
                <div class="ui divider"></div>

            </div>
            <div class="ui grid">

                <div class="five wide column middle aligned">
                    <h5><b>Procedure</b></h5>
                    <span class="left-label">As a participant, I...</span>
                </div>
                <div class="eleven wide column">
                    <ul>
                        <li>agree to grant the researcher's app access to my Twitter data</li>
                        <li>agree to provide the following information:
                            <ul>
                                <li>Gender</li>
                                <li>Birthdate</li>
        {#                        <li>Facebook ID</li>#}
                                <li>Twitter handle</li>
                            </ul>
                        </li>
                        <li>ensure that the information I will be entering is correct</li>
                    </ul>
                </div>
            </div>
            <div class="ui container">
                <div class="ui divider"></div>

            </div>
            <div class="ui grid">

                <div class="five wide column middle aligned">
                    <h5><b>Confidentiality</b></h5>
                    <span class="left-label">Also, please be reminded that...</span>
                </div>
                <div class="eleven wide column">
                    <ul>
                        <li>any information collected would be anonymized</li>
                        <li>after the duration of the study <b>(until August 2017)</b>, any information collected would be disposed</li>
                        <li>if you have any concerns or questions about the study, feel free to <a href="/#about-us" class="email-label"><b> contact us <b> </a></li>
                    </ul>
                </div>
            </div>



            <br><br>
             <div class="field">
                <div class="ui checkbox">
                  <input id="cbx-agree" tabindex="0" type="checkbox">
                  <label><b>My participation in this study is completely voluntary and I understand and agree to the terms stated above.</b></label>
                </div>
            </div> <br>
            <button id="btn-agree" class="ui button yellow-background" onclick="goToDataCollection()">Continue</button>


           {% comment %} <span>
                Thank you for considering to participate in this study.
                As our token of gratitude, we would display <br> your top 10 most used words later on!
            </span>{% endcomment %}

        </div>


    </div>
    <footer class="ui inverted vertical footer center aligned segment">
        <div class="ui container">Age and Gender Profiling 2017.</div>
    </footer>
{% endblock content %}